# Configuración de Telegram (Copia tus datos aquí en un archivo .env real)
TELEGRAM_TOKEN=tu_token_aqui_sin_espacios
TELEGRAM_CHAT_ID=tu_id_numerico_aqui

# Configuración de Presupuesto
PRESUPUESTO_INICIAL=200000
